<% content_for :links do %>
  <%= link_to logout_path, method: :delete do %>
    <span class="sr-only">Log Out</span>
    <span class="glyphicon glyphicon-log-out" title="Log Out"></span>
  <% end %>
<% end %>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= form_tag mark_read_messages_path, method: :put do %>
      <table id="messages" class="table">
        <thead>
          <tr>
            <th><input type="checkbox"></th>
            <th>From</th>
            <th>To</th>
            <th>Subject</th>
          </tr>
        </thead>
        <tbody>
          <% @messages.each do |message| %>
            <tr class="<%= message.read? ? "read" : "unread" %> message">
              <td class="action"><%= check_box_tag("message_ids[]", message.id) unless message.read? %></td>
              <td class="from"><%= message.sender.name %></td>
              <td class="to"><%= message.recipient.name %></td>
              <td class="subject"><%= message.subject %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= submit_tag "Mark as Read", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
